.item_page{
    margin: 100px 50px 20px 50px;
}
.allItemSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
 .itemList_heading{
        color: gray;
        font-size:30px;
        font-weight: 400;
        text-align: end;
        margin: 0px;
 }

 .item_ist {
    max-height: 450px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
  }

  
  .item_ist li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: start;
    transition: background-color 0.3s;
  }
  
  .item_ist li:last-child {
    border-bottom: none; /* Remove border for the last item */
  }
  
  .item_ist li:hover {
    background-color: #f1f1f1; /* Light background on hover */
  }
  
  .item_ist img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 15px;
  }
  
  .itemDtails {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;


  }
  
  .itemDtails h3 {
    margin: 0;
    font-size: 12px;
    color: #333;
  }
  
  .itemDtails p {
    margin: 5px 0;
    color: #555;
    font-size: 12px;
  }
  
  .itemDtails button {
    /* padding: 8px 12px; */
    height:30px;
    border: none;
    width: 6vw;
    margin: 3px;
    border-radius: 4px;
    font-size: 1vw;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  #button {
    height:30px;
    border: none;
    width: 6vw;
    margin: 3px;
    border-radius: 4px;
    font-size: 1vw;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .update_button {
    background-color: #007bff;
    color: white;
  }
  
  .update_button:hover {
    background-color: #0056b3;
  }
  
  .delete_button {
    background-color: #dc3545;
    color: white;
  }
  
  
  .delete_button:hover {
    background-color: #c82333;
  }

  .seeMore_button{
    border: 1px solid rgb(109, 108, 108);
  }

  .modal{
    height: 100%;
    width: 100%;
    background-color: #5c3c3ca4;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal form{
    max-width: 500px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  .modal>form>h2{
    color: #00BF65;
  }
  .modal form>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
  }
  
  .modal>form>div>label{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: gray;
    font-size: 20px;
    font-weight: 200;
  }
  .modal>form>div>label>input{
    padding: 5px;
  }
  .deletContainer{
    max-width:250px;
    text-align: center;
    background-color: white;
    padding: 20px;
    color:#00BF65;
    border-radius: 10px;
  }

  .deletContainer>p{
    color: gray;
    margin: 10px;
  }
  .itemDetailsModal{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #33333398;
    z-index: 999999;
  }

  /* .order-list__item-image > img{
    width: 60px;
  } */
  @media (max-width: 400px){
    .modal>form>div>label{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        color: gray;
        font-size: 10px;
        font-weight: 200;
      }
      .modal>form>div>label>input{
        padding: 3px;
        font-size: 10px;
      }
      #button {
        height:30px;
        border: none;
        width: 15vw;
        margin: 3px;
        border-radius: 4px;
        font-size: 3vw;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
      }
      
  }
 

  @media (max-width: 650px){
      
    .item_ist {
        max-width: 800px;
        margin: 20px auto;
        padding: 5px;
        list-style-type: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    
      .item_ist li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: start;
        transition: background-color 0.3s;
      }
    .itemDtails {
        flex-grow: 1;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 0px;
        align-items: flex-start;
        justify-content: space-between;
    
    
      }
      
      /* .itemDtails h3 {
        margin: 0;
        font-size: 3vw;
        color: #333;
      } */
      
      .itemDtails p {
        margin: 0px 0;
      }

      .itemDtails button {
        height:30px;
        border: none;
        width: 10vw;
        margin: 3px;
        border-radius: 4px;
        font-size: 2vw;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
      }
      
  }
  
@media (max-width: 800px) {
    .item_page{
        margin: 100px 10px 20px 10px;
    }
    .allItemSection{
        gap:10px;
    }
}